<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HighlightCam</title>
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/text.css" />
<link rel="stylesheet" href="css/960.css" />
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div id="header">
  <div class="container_16 mrg-btm">
    <div class="grid_8"><img src="images/highlightCam.png" alt="HighlightCam" /></div>
    <div class="grid_8 top_menu">Hello <a href="#">john.smith</a> | <a href="#">Logout</a></div>
  </div>
</div>
<div id="navbar">
  <div class="container_16">
    <ul>
      <li><a href="#" class="clips">My Clips</a></li>
      <li><a href="#" class="movies">My Movies</a></li>
      <li><a href="#" class="feeds">My Feeds</a></li>
    </ul>
  </div>
</div>
<div id="container">
  <div class="container_16  mrg-btm">
    <div class="grid_16 message_box"> All the movies you created, including the ones you made with your smartphone </div>
    <div class="side_bar">
      <div class="grid_4 grid_4_box">
    <img src="images/create_movie.jpg" />
    </div>
      <div class="grid_4 grid_4_box">
    <div class="title">With the girls</div>
    <div class="video"><img src="images/video_thumb_1.jpg" /></div>
    <div class="date">22 aug, 2011</div>
    </div>
      <div class="grid_4 grid_4_box">
    <div class="title">With the girls</div>
    <div class="video"><img src="images/video_thumb_1.jpg" /></div>
    <div class="date">22 aug, 2011</div>
    </div>
    </div>
    <div class="middle_bar">
      <div class="grid_8 grid_8_box">
      <div class="title">At the game</div>
    <div class="video"><img src="images/video.jpg" /></div>
    <div class="desc">Sample movie description text. Lorem ipsum dolor sit amet, lorem ... </div>
    <div class="share">&nbsp;</div>
       </div>
      <div class="grid_4 grid_4_box">
    <div class="title">At the game</div>
    <div class="video"><img src="images/video_thumb_2.jpg" /></div>
    <div class="date">22 aug, 2011</div>
    </div>
      <div class="grid_4 grid_4_box">
    <div class="title">With the girls</div>
    <div class="video"><img src="images/video_thumb_1.jpg" /></div>
    <div class="date">22 aug, 2011</div>
    </div>
    </div>
    <div class="side_bar">
      <div class="grid_4 grid_4_box">
    <div class="title">Playing Voleyball</div>
    <div class="video"><img src="images/video_thumb_3.jpg" /></div>
    <div class="date">22 aug, 2011</div>
    </div>
    <div class="grid_4 grid_4_box">
    <div class="title">Playing Voleyball</div>
    <div class="video"><img src="images/video_thumb_3.jpg" /></div>
    <div class="date">22 aug, 2011</div>
    </div>
    <div class="grid_4 grid_4_box">
    <div class="title">Playing Voleyball</div>
    <div class="video"><img src="images/video_thumb_3.jpg" /></div>
    <div class="date">22 aug, 2011</div>
    </div>
    </div>
    </div>
   <div class="clear"></div>
<div class="container_16">
  <div class="grid_16">
    <div id="footer">
      <div class=" grid_8  copyright"><a href="#"><img src="images/logo.png" /></a><br />
        <p>Copyright &copy; 2012 HighlightCam Inc.</p>
      </div>
      <div class=" footer-links">
        <div class="menu">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Press</a></li>
          </ul>
        </div>
        <div class="menu">
          <ul>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="communities">
          <ul>
            <li><a href="#"><img src="images/icon-twitter.jpg" alt="" style="width:18px; margin:-0px 14px 0 10px;"/>Follow @highlightcam</a></li>
            <li><a href="#"><img src="images/icon-fb.jpg" alt="" style="width:18px;margin:0px 14px 0 10px;"/>Join us on Facebook</a></li>
            <li><a href="#"><img src="images/icon-news.jpg" alt="" style="width:18px;margin:0px 14px 0 10px;"/>Subscribe to our newsletter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
