{% extends "base.html" %}

{% block title %}
	<title>Process Upload</title>
{% endblock %}

{% block content %}
	<form action="{% url process_upload %}" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
	</form>
	{% if message %}
		<p style="color:red;">{{ message }}</p>
	{% endif %}
	<a href="{% url library %}">Go to library</a><br />
	<a href="{% url uploadify %}">Upload new file</a><br />
	<a href="{% url render %}">Create your movie</a><br />
	<a href="{% url logout %}">logout</a>
{% endblock %}